{% extends "layouts/base.html" %} {% block head %}
<!--  -->
<link rel="preload" as="image" href="{% getUrl "/assets/images/banner.jpg" | resize({ width: 640, height: 792 }) | avif %}" />
<!--  -->
<link rel="stylesheet" href="/assets/css/interior-form.css" />
<script src="/assets/js/reviews-carousel.js" defer></script>

{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Banner                    -->
<!-- ============================================ -->

<div id="banner-2285">
    <div class="cs-container">
        <span class="cs-int-title">{{TITLE}}</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/contact-us/" class="cs-link cs-active">Get Started</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/banner.jpg" | resize({ width: 640, height: 792 }) | avif %}" type="image/avif">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/banner.jpg" | resize({ width: 2048, height: 912 }) | avif %}" type="image/avif">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/banner.jpg" | resize({ width: 2500, height: 625 }) | avif %}" type="image/avif">
        <img src="{% getUrl "/assets/images/banner.jpg" | resize({ width: 2500, height: 625 }) | jpeg %}" alt="{{BANNER_ALT}}" width="1920" height="480" decoding="async">
    </picture>
</div>

<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<section id="content-page-713">
	<div class="cs-container">
        {{CONTENT}}

        <div class="cs-right">
            <div class="cs-image-group">
                <div class="cs-picture">
                    <div class="cs-form-block">
                        <div class="cs-content">
                            <h2 class="cs-title">Schedule Your Consultation</h2>
                        </div>
                        <form class="cs-form" id="cs-form-2195" name="Contact Form" method="post" data-netlify="true">
                            <label class="cs-label" aria-label="name">
                                <input class="cs-input" required type="text" id="name-2195" name="name" placeholder="Name">
                            </label>
                            <label class="cs-label cs-email" aria-label="email">
                                <input class="cs-input" required type="email" id="email-2195" name="email" placeholder="Email">
                            </label>
                            <label class="cs-label cs-phone" aria-label="phone">
                                <input class="cs-input" required type="phone" id="phone-2195" name="phone" placeholder="Phone">
                            </label>
                            <label class="cs-label" aria-label="message">
                                <textarea class="cs-input cs-textarea" required name="Message" id="message-2195" placeholder="Message"></textarea>
                            </label>
                            <button class="cs-button-solid cs-submit" type="submit">Schedule Consultation</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="cs-quick-links">
                <span class="cs-header"><strong>Quick Links</strong></span>
                <ul>
                    <li>
                        <a class="li-a" href="/phoenix/car-accident/">Car Accident Lawyer</a>
                    </li>
                    <li>
                        <a class="li-a" href="/practice-areas/car-accident-attorneys/">Car Accident Attorneys</a>
                    </li>
                    <li>
                        <a class="li-a" href="/practice-areas/fatal-car-accident-attorney/">Fatal Car Accident Attorney</a>
                    </li>
                    <li>
                        <a class="li-a" href="/practice-areas/arizona-dui-attorney/">Arizona DUI Attorney</a>
                    </li>
                    <li>
                        <a class="li-a" href="/practice-areas/bike-injury-lawyer/">Bike Injury Lawyer</a>
                    </li>
                    <li>
                        <a class="li-a" href="/practice-areas/motorcycle-accident-injuries-arizona/">Motorcycle Accident Injuries Arizona</a>
                    </li>
                    <li>
                        <a class="li-a" href="/practice-areas/pedestrian-accident-lawyers/">Pedestrian Accident Lawyers</a>
                    </li>
                    <li>
                        <a class="li-a" href="/practice-areas/truck-accidents-attorney/">Truck Accidents Attorney</a>
                    </li>
                </ul>
            </div>
        </div>
		
	</div>
	<!--Waves Graphic-->
	<picture class="cs-background"></picture>
</section>

{% include "sections/reviews.html" %}                                

<script defer type="application/ld+json">
{{SCHEMA_SCRIPT}}
</script>

{% endblock %}
